@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$primary-color: #1d1d1f;
$secondary-color: #535353;
$backgroundgradient: linear-gradient(45deg, $primary-color, $secondary-color);

* {
  box-sizing: border-box;
  
}

body {
  font-size: 100%;
  color: #1d1d1f;
  padding: 0;
  margin: 0;  
  font-family: 'Inter', sans-serif;
  background: $backgroundgradient;
  padding: 40px;
}

.container {
  min-height: calc(100vh - 40px * 2);
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 10px;
  overflow: hidden;
}

.login-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 105px;
  background-color: white;
}

.login-header {
  margin-top: 0px;
  margin-bottom: 0px;
  h1:not(.formh1) {
    font-size: 40px;
    margin-bottom: 0px;
  }

  p {
    font-size: 30px;
    opacity: 0.9;
  }
}

.login-form {
  width: 450px;

  &-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
}

.form-item label:not(.checkboxLabel, .pformLabel) {
  display: inline-block;
  background-color: white;
  margin-bottom: 10px;
  position: absolute;
  padding: 0 5px;
  transform: translate(30px, -10px);
  font-size: 14px;
}

input[type="text"]:not(.pformInput),
input[type="password"] {
  background-color: #fff;
  border: 1px solid black;
  height: 55px;
  padding: 0 2rem;
  width: 100%;
  outline: none;
  transition: background 0.5s;
  font-size: 18px;
  border-radius: 100px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 7px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: $primary-color;
}

button:not(.pformSubmit) {
  border: none;
  background: linear-gradient(45deg, $primary-color, $secondary-color);
  color: #ffffff;
  padding: 1rem;
  border-radius: 100px;
  text-align: center;
  font-size: 18px;
  height: 55px;
  cursor: pointer;
  margin-bottom: 30px;
}

.login-error-message {
  margin: 5px;
  padding: 0px;
  color: red;
}

li,
ul {
  text-decoration: none;
}

/* Right Side*/

.login-right {
  background-color: #eee;
  display: flex;
  justify-content: center;
}

.company-logo-and-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

$img-size: 150px;

img.company-logo {
  margin: 20px;
  display: block;
  width: $img-size;
  height: $img-size;
  border-radius: 10px;
}

h1.company-name {
  font-family: "Righteous", cursive;
  font-size: 60px;
  background: conic-gradient(
    $primary-color,
    $secondary-color,
    rgb(187, 11, 11),
    $primary-color
  );
  background-clip: text;
  color: transparent;
  background-size: 2000px 2000px;
  animation: company-name-ani 10s infinite linear;
}

/* keyframes for animation */

@keyframes company-name-ani {
  0% {
    background-position: 0 0;
  }

  25% {
    background-position: 0 100%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0 0;
  }
}

/* Responsiveness */

@media (max-width: 1350px) {
  .login-left {
    padding: 50px !important;
  }

  .login-form {
    width: 100%;

    &-footer {
      flex-direction: column;
      gap: 15px;
    }
  }
}
@media (max-width: 768px) {
  body {
    padding: 20px;
  }

  .container {
    grid-template-columns: auto;
  }

  .login-right {
    display: none;
  }

  nav {
    width: 25%;
  }

  .sidenav-container {
    height: 20%;
  }

  .navbar-links {
    flex-direction: row;
  }

  .navbar-links a {
    margin: .5rem 0;
  }

  .content-container {
    left: 25%;
    width: 75%;
  }

  img#navbar-logo {
    width: 100px;
    height: 100px;
  }

  .company-name-navbar {
    display: none;
  }

  input[type="text"], input[type="number"].pformInput{
    width: 80%;
  }

  .pformSubmit {
    width: 80%;
  }


  .formh1 {
    display: inline;
    overflow:hidden;
  }

}

/* navbar.php styling */

$logosize: 200px;
$iconsize: 30px;

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 2;
  background: linear-gradient(90deg, rgb(39, 39, 39), #101011);
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

.sidenav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav a:not(.image-link) {
  background: linear-gradient(90deg, rgb(32, 32, 32), #1d1d1f);
  color: white;
  padding: 20px;
  margin: 10px 10px;
  text-decoration: none;
  display: block;
  border-radius: 50px;
  font-size: 22px;
  width: 100%;
  font-weight: 600;
}

nav a:not(.image-link):hover {
  background: linear-gradient(90deg, rgb(230, 230, 230), #bdbdbd);
  color: black;
}

h1.company-name-navbar {
  font-family: "Righteous", cursive;
  font-size: 40px;
  color: #f5f5f7;
}

#navbar-logo {
  width: $logosize;
  height: $logosize;
  margin: 30px 30px 5px 30px;
  border: white solid 1px;
  border-radius: 10%;
}

/* form.php styling */

.content-container {
  position: absolute;
  left: 20%;
  top: 0;
  width: 80%;
  height: 100%;
  background-size: cover;
  z-index: 0;
  
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin: 2rem;
  padding: 2rem;
  background-color: #fefefe;
  border-radius: 20px;
  min-height: calc(100vh - 40px * 2);
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-header {
  margin: auto;
  width: 500px;
  .formh1 {
    font-weight: 600;
    font-size: 2.25em;
    margin: 10px 0px 10px 0px;
  }
}

.product-information-form {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin: auto;
  width: 500px;
}

.pform-item {
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.pformLabel {
  font-size: 23px;
  margin-bottom: 2px;
  opacity: 0.99;
  display: block;
}

.pformInput {
  border: 1px solid black;
  background-color: rgb(235, 237, 255);
  height: 32px;
  padding: 3px 1rem;
  width: 100%;
  outline: none;
  transition: background 0.5s;
  font-size: 18px;
  border-radius: 50px;
}

.pformSubmit {
  text-decoration: none;
  border: none;
  margin-left: 10px;
  background: linear-gradient(45deg, $primary-color, $secondary-color);
  color: white;
  padding: 0.89rem;
  border-radius: 100px;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  height: 55px;
  cursor: pointer;
}

.pformSubmit:hover {
  font-weight: bolder;
  background: linear-gradient(90deg, rgb(230, 230, 230), #a5a5a5);
  color: black;
}

.information-form-content {
  display: flex;
  flex-direction: column;
}

#popup {
  position: fixed;
  border-radius: 15px;
  top: 48%; 
  left: 58%;
  transform: translate(-50%, -50%);
  padding: 25px 40px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#popup h1{
  text-align: center;
}

/* database page styling */

.table-header-and-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
  background-color: #fefefe;
  border-radius: 20px;
  min-height: calc(20vh - 40px * 2);
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.table-header{
  color: #1d1d1f;
  margin: auto;
  .tableh1 {
    font-weight: 600;
    font-size: 2.25em;
    margin: 10px 0px 10px 0px;
  }
}

.table {
  margin:20px;
}

#products {
  text-align: center;
  border: none;
  border-collapse: collapse;
  width: 100%;
}

#products td {
  padding: 10px;
  border: 1px solid #929292;
}

#products tr{
  background-color: #f5f5f7;
  th {
    text-align: center;
    border: 1px solid #929292;
    font-weight: 500;
  }
}


#products tr:hover{
  background-color: #cccccc;
}

#products th {
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1d1d1f;
  color: #f5f5f7;
}

.search-btn-and-input {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin: auto;
  width: 100%;
}

.search-button {
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(45deg, $primary-color, $secondary-color);
  color: white;
  padding: 1rem;
  border-radius: 100px;
  text-align: center;
  font-size: 23px;
  font-weight: 500;
  height: 55px;
  cursor: pointer;
}

.search-button:hover {
  background: linear-gradient(90deg, rgb(230, 230, 230), #a5a5a5);
  color: black;
}

.edit{
  text-decoration: none;
  background-color: #4681f4;
  padding: 10px;
  color: #f5f5f7;
  border-radius: 100px;
  margin: 2px 5px;
}

.edit:hover{
  background-color: rgb(69, 69, 255);
}

.delete{
  text-decoration: none;
  background-color: rgb(223, 52, 52);
  padding: 10px;
  color: #f5f5f7;
  border-radius: 100px;
  margin: 3px 5px 2px 5px;
  cursor: pointer;
}

.delete:hover{
  background-color: rgb(182, 53, 53);
}

.actions-cell {
  display: flex;
  flex-direction: column;
}



/* edit.php styling*/

.back, .editFormSubmit {
  text-decoration: none;
  border: none;
  margin-top: 10px;
  background: linear-gradient(45deg, $primary-color, $secondary-color);
  color: white;
  padding: 1rem;
  border-radius: 100px;
  text-align: center;
  font-size: 20px;
  height: 55px;
  cursor: pointer;
  font-weight: bold;
}

.back:hover, .editFormSubmit:hover {
  background: linear-gradient(90deg, rgb(230, 230, 230), #a5a5a5);
  color: black;
}

/* account-settings.php styling */

.account-settings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  margin: 2rem;
  padding: 2rem;
  background-color: #fefefe;
  border-radius: 20px;
  min-height: calc(100vh - 40px * 2);
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
}

.account-settings-container a {
  background-color: #cccccc;
  color: #1d1d1f;
  padding: 20px;
  margin: 10px 10px;
  text-decoration: none;
  display: block;
  border-radius: 50px;
  font-size: 22px;
  width: 100%;
  font-weight: 600;
}

.account-settings-container a:hover {
  background: linear-gradient(90deg, rgb(230, 230, 230), #bdbdbd);
  color: black;
}

/* delete account styling */

.other-buttons {
  border: none;
  background: linear-gradient(45deg, $primary-color, $secondary-color);
  color: #ffffff;
  padding: 1rem;
  border-radius: 100px;
  text-align: center;
  font-size: 18px;
  height: 55px;
  cursor: pointer;
  margin-bottom: 30px;
}

.yes-no {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.blue-btn{
  text-decoration: none;
  background-color: #4681f4;
  padding: 10px;
  color: #f5f5f7;
  border-radius: 100px;
  margin: 2px 5px;
}

.blue-btn:hover{
  background-color: rgb(69, 69, 255);
}

.back-btn {
  text-decoration: none;
  border: none;
  background: linear-gradient(45deg, $primary-color, $secondary-color);
  color: #ffffff;
  padding: 1rem;
  border-radius: 100px;
  text-align: center;
  font-size: 18px;
  height: 55px;
  cursor: pointer;
  margin-bottom: 30px;
}

/* sign-up page styling */

.sign-up-content-container {
  position: absolute;
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 0;
  
}

.sign-up-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  padding: 2rem;
  background-color: #fefefe;
  border-radius: 20px;
  min-height: calc(100vh - 40px * 2);
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#signup-popup {
  flex-direction: column;
  justify-content: center;
  position: fixed;
  border-radius: 15px;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 40px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  h1{
    margin: 20px;
    text-align: center;
  }
  p{
    margin: 20px;
    text-align: center;
  }
}